{% load static %}

<header>
    <a href="#"><img src="{% static 'images/Zmaj_dostava_logo1.png' %}"  alt="dostava logo"></a>
    
    <p data-text="ZMAJ&nbsp;DOSTAVA">ZMAJ DOSTAVA</p>

   <nav class="navbar" id="myTopnav">
                    <ul >
                    
                        <li><a href="{% url 'base' %}">Početna</a></li>
                        <li ><a href="{% url 'usluge' %}">Usluge</a></li>
                        <li ><a href="{% url 'o-nama' %}">O nama</a></li>
                        <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
                    </ul>
                    
    
   </nav>

   <button class="navbar_toggle">
   
    <i class="fa-solid fa-bars"></i>
   </button>
</div>
</header>


<div class="background-image">
<div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
         
        
    </div>
</div>
</div>
</div>
</div>


