{% load static %}
{% block body %}

<div class="services-section">
    <h3>Nekoliko stvari o nama</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <div class="service-items">
                <h4>Ko smo mi </h4>
                <br>
                <p>Zmaj dostava</p>

            </div>
        </div>
            <div class="col-md-4">
                <div class="service-items">
                <h4>Šta radimo</h4>
                <br>
                <p>Dostavljamo</p>
                </div>
              
            </div>
            <div class="col-md-4">
            <div class="service-items">
                <h4>Kako radimo</h4>
                <br>
                <p>Pružajući brze i uslužne usluge
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
<div class="how-it-works-section">
    <h3>08-24h</h3>
    
    <div class="a">
        <img src="{% static 'images/kurir.png' %}" alt="">
       </div>
   
</div>
</div>
{% endblock  %}