{% extends 'dostava/base.html' %}
{% load static %}
{% block body %}

<div class="container">
<div class="contact-before">
    <div class="row">
        <h3>O nama</h3>
    
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col md-6">
            <div class="rec-section">
                <img src="{% static 'images/Zmaj_dostava_majica.png' %}"alt="">
            </div>

        </div>
        <div class="col-md-6">
            <div class="rec-section">
                <div class="k">
                <h2 class="box_heading">Način poslovanja</h2>
                <br>
                <h3>Dugogodišnje iskustvo, zadovoljni potrošači. </h3>
                <h3>Profesionalnost, pouzdanost ZMAJ DOSTAVE</h3>
            </div>
        </div>
        </div>
        
    </div>
</div>

<div class="container">
<div class="okvir">
<div class="row">
    <div class="col-md-6">
        <div class="rec-section">
            <div class="form-section">
        <h2 class="box_heading">Kapacitet</h2>
        <h4>profesionalni partneri</h4>
        <h4>10 vozila</h4>
        <h4>10 članova tima</h4>
            </div>
    </div>
</div>
    <div class="col-md-6">
       
        <div class="rec-section1">
            <div class="l">
            <img src="{% static 'images/zmaj_dostava_9.png' %}"alt="">
        </div>
    </div>
</div>
</div>
</div>



</div>

{% endblock  %}