{% extends 'dostava/base.html' %}
{% load static %}
{% block body %}

<div class="container">
<div class="contact-before">
    <div class="row">
        <h3>Usluge</h3>
    
    </div>
    </div>

</div>

<div class="container">
    <div class="profit-section1">   
        <div class="row">
           
        <h1>Zmaj dostava</h1>
    </div>
  
        <br><br><br>
        <div class="row">
        <h2>Dostavljamo sve potrebne porudžbine na vašu adresu.</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="restaurant-section">
        <div class="row">
            <h4>Pogledajte raznovrsnu ponudu restorana na klik od vas</h4>
        
        </div>
        </div>
    
    </div>

<div class="container">
     <div class="row">
        <div class="col-md-7">
        <div class="profit-section2">
            <a href="https://www.instagram.com/krilceipivce/" target="_blank"><img src="{% static 'images/krilce_i_pivce.jpg' %}"alt=""></a>
         </div>  
         </div> 

        <div class="col-md-5">
            <div class="profit-section4">
                <a href="https://www.kineskizmaj.com/" target="_blank"><img src="{% static 'images/kineski_zmaj.jpg' %}"alt=""></a>
            
        </div>
    </div>
    
    
</div>


     <div class="row">
        <div class="col-md-12">
            <div class="profit-section3">
                <a href="https://www.facebook.com/people/Pizza-Boom-Plus/100047332586974/"target="_blank"><img src="{% static 'images/boom_pica.png' %}"alt=""></a>
       
    </div>
     </div>
     </div>

     <div class="row">
               <div class="col-md-7">
                <div class="profit-section2">
                    <a href="https://www.nihao.rs/"  target="_blank"><img src="{% static 'images/ni_hao.jpg' %}"alt=""></a>
           
        </div>
    </div>
        
        <div class="col-md-5">
            <div class="profit-section4">
                <a href="https://www.instagram.com/favorit.novisad/" target="_blank"><img src="{% static 'images/favorit.png' %}"alt=""></a>
           
        </div>
    </div>
     </div>
    </div>



{% endblock  %}